.info {
  margin-top: 12px;
  .title {
    color: #7a8189;
    font-size: 20px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    text-align: center;
  }
  .description {
    margin-top: 4px;
    color: #9ba1a7;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
