.root {
  border-radius: 16px;
  background: #f2f5f8;
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 4px;
  height: 46px;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0 0;
    height: 100%;
    color: #7a8189;
    border-radius: 12px;
    font-size: 15px;
  }

  .button.active {
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    color: #222;
  }
}
